<header>
  <h2>Services</h2>
</header>

<form [formGroup]="form" (submit)="addProduct()">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; index as index">
      <td>{{index + 1  }}</td>
      <td>{{product.name}}</td>
      <td>{{product.price | currency:'EUR':'symbol-narrow'}}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn-outline-primary" (click)="edit(product)">Modifier</button>
          <button type="button" class="btn-outline-primary" (click)="delete(product)">Supprimer</button>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td></td>
      <td>
        <input type="text" class="form-control" placeholder="Name" formControlName="name"/>
      </td>
      <td>
        <input type="text" class="form-control" placeholder="Price &euro..." formControlName="price"/>
      </td>
      <td>
        <div>
          <input type="submit" class="btn-outline-primary" [value]="btn" [disabled]="form.invalid" />
          <button type="button" class="btn-outline-primary" *ngIf="selected" (click)="cancel()">Annuler</button>
        </div>
      </td>
    </tr>

    </tfoot>
  </table>

</form>
