<header>
  <h2>Plan de la formation</h2>
</header>
<ul>
  <li> <a class="nav-link" routerLink="/presentation" routerLinkActive="active">Présentation</a>
    <ul>
      <li>Synthaxe angular (mvvm ou mwm)</li>
      <li>One way data Binding (Component <==> Template</li>
      <li>Two way Data binding</li>
      <li>Variable template</li>
      <li>Les ngModel</li>
    </ul>
  </li>
  <li>Navigation (partie 1)</li>
  <li>Template (vue)
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pipe" routerLinkActive="active">Pipes</a>
      </li>
      <li>Locales</li>
      <li>Directives</li>
    </ul>
  </li>
  <li>Pipes Personnalisées</li>
  <li>Directive Personnalisées</li>
  <li>Formulaires
    <ul>
      <li>Template driven forms</li>
      <li>Reactives Forms</li>
      <li>Validateurs</li>
      <li>Validateurs Personnalisés</li>
    </ul>
  </li>
  <li>Services</li>
  <li>Promise - Observer - async/await</li>
  <li>Navigation (partie 2)
    <ul>
      <li>Paramètres d'URL</li>
      <li>Guard</li>
    </ul>
  </li>
  <li>HttpClient (xhr)</li>
  <li>Test Unitaire & EndToEnd</li>
  <li>Publier le projet</li>
</ul>
