<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/presentation" routerLinkActive="active">Présentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/plan" routerLinkActive="active">Plan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/exercice1" routerLinkActive="active">Exercice 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pipe" routerLinkActive="active">Pipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/directive" routerLinkActive="active">Directive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/custom-pipe" routerLinkActive="active">Custom-pipe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/locale" routerLinkActive="active">Locale (l10n)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/custom-directive" routerLinkActive="active">Custom-directive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/formulaire" routerLinkActive="active">Formulaire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/enum" routerLinkActive="active">Enum</a>
    </li>
 <li class="nav-item">
      <a class="nav-link" routerLink="/signup" routerLinkActive="active">Reactive form</a>
    </li>

  </ul>
</nav>

<router-outlet></router-outlet>
